*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: #050b1e;
    color: #fff;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8px;
}
.logo{
    color: #ff7a00;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul li a{
    color: #ccc;
    text-decoration: none;
}
nav ul li a:hover{
    color: #ff7a00;
}
.btn{background: #ff7a00;
padding: 10px 18px;color: #fff;text-decoration: none;border-radius: 20px;}
.btn-outline{
    border: 1px solid #ff7a00;
    padding: 10px 18px;
    color: #ff7a00;
    text-decoration: none;
    border-radius: 20px;
}
/* hero */
.hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ff7a00;
    margin-bottom: 20px;
}
h1{
    font-size: 40px;
    margin-bottom: 10px;
}
h1 span{
    color: #ff7a00;
}
p{
    color: #aaa;
    margin-bottom: 25px;
}
.buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.icon img{
    width: 30px;
    height: 30px;
    margin-top: 45px;
}
.icon a{
    padding: 10px;
}
.section{
    padding: 20px 10%;
    text-align: center;
}
.section h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: #ff7a00;
}
.section-text{
    color: #bbb;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    margin-top: 40px;
}
.project-card{
    background: #0c132f;
    padding: 20px;
    border-radius: 12px;
    transition: 0.5s;
}
.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(255, 122, 0, 0.2);
}
/* skills */
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.skill{
    border: 1px solid #ff7a00;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ff7a00;
    font-weight: bold;
}
#whatsappForm{
    max-width: 360px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(255, 122, 0, 0.2);
}
#whatsappForm h3{
    text-align: center;
    margin-bottom: 15px;
    color: #ff7a00;
}
#whatsappForm input,
#whatsappForm textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ff7a00;
}
#whatsappForm button{
    width: 100%;
    padding: 12px;
    background: #ff7a00;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#whatsappForm button:hover{
    opacity: .9;
}

/* footer */
footer p{
    text-align: center;
    color: #aaa;
    margin-top: 30px;
}




/* responsive */
@media (max-width:768px) {
    h1{
        font-size: 28px;
    }
    nav ul{
        display: none;
    }
    footer{
        font-size: 12px;
    }
}
